html {
    margin: 0;
}

body {
    margin: 0px;
}
 /*Navagation working*/
 #navbar {
    display: flex;
    justify-content: space-around;
    width: 100%; 
    height: 70px;
    font-size: 18px;
    background-color: rgb(196, 196, 196);
}

#navlist {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#navlist a{
    display: center;
    padding: 1rem;
}

#navlist a:hover {
 background: rgba(211, 211, 211, 0.925);
}

 /*:active*/
.active a.current{
    color: black;
    background-color:  rgba(211, 211, 211, 0.925);
 }
 
nav:active{
  color: rgba(211, 211, 211, 0.925);
}

.links a:hover{
background-color:  rgba(211, 211, 211, 0.925);
}

.links a:active {
    background-color:  rgba(211, 211, 211, 0.925);
  }


main {
    margin: 10px;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.m{
   width: 100%;
}

#monkey{
    display: flex;
    font-size: 16px;
    justify-content: space-between;
}

a {
    color: black;
}

p {
    font-size: 20px;
}

#george {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-right: 10px;
}

#caption{
    display: flex;
    justify-content: center;
    font-size: 12px;
    
}
#captions{
    display: flex;
    justify-content: center;
    font-size: 12px;
    padding-right: 10px;
    padding-left: 10px;
}

ul {
    list-style: none;
}

li {
    padding: 10px;
}

.wrapper{
    width: auto;
    max-width: 100000000px;
    min-width: 300px;
  }


#projectgrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, .5fr));
    grid-gap: 4rem;
    max-width: 1280px;
    margin: 15px;
    margin-right: 50px;
}
#projectgrids {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, .5fr));
    grid-gap: 4rem;
    max-width: 1280px;
    margin: 15px;
    margin-right: 50px;
}

#tile {
    justify-content: center;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}


#figure{
    background-color: rgba(252, 251, 182, 0.26);
    border-style: ridge;
    border-color: rgba(128, 128, 128, 0.192);
    width: 225px;
    height: 300px;
}

#package {
    display: flex;
    justify-content: center;
}
#figure2{
    background-color: rgba(252, 251, 182, 0.26);
    border-style: ridge;
    border-color: rgba(128, 128, 128, 0.192);
    width: 225px;
    height: 800px;
}
h4, h5 {
    justify-content: center;
}

#button {
    display: flex;
    justify-content: center;
}

button{
    height: 30px;
}

iframe {
    width: 40%;
    height: 400px;
}

#caption{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    font-size: 12px;
    text-align: center;
}
#caption2 {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    font-size: 16px;
    text-align: center;
}

#caption3{
    justify-content: center;
    padding-bottom: 10px;
    font-size: 12px;
    text-align: center;
}

form{
    display: flex;
    justify-content: center;
}

#spaceing {
    padding: 10px;
    font-size: 20px;
}

#comment {
    width: 100%;
    height: 50px;
}
#phil{
    padding-left: 10px;
    margin: 20px;
}
#utah {
    display: flex;
    justify-content: center;
    padding-left: 5px;
}

.home {
    padding-left: 70%;
}

/*footer*/
footer {
border-width: medium;
text-align: center;
padding-bottom: 10px;
padding-top: 10px;
}

@media screen and (max-width: 1000px) {
    #navbar {
        display: column;
        justify-content: center;
        width: 100%; 
        height: 80px;
        font-size: 18px;
        background-color: rgb(196, 196, 196);
        }
        
        #navlist {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
        }
        
        #navlist a{
            display: center;
            padding: 1rem;
        }
        
        #navlist a:hover {
         background: rgba(211, 211, 211, 0.925);
        }
        
         /*:active*/
        .active a.current{
            color: black;
            background-color:  rgba(211, 211, 211, 0.925);
         }
         
        nav:active{
          color: rgba(211, 211, 211, 0.925);
        }
        
        .links a:hover{
        background-color:  rgba(211, 211, 211, 0.925);
        }
        
        .links a:active {
            background-color:  rgba(211, 211, 211, 0.925);
          }

        main {
            padding-left: 30px;
            margin: 0px;
        }

        figure {
            width: 100%;
            margin: 10px;
        }
        iframe {
         width: 400px;
         height: 350px;
                }
    button{
        border-radius: 25px;
    }

    .home {
        display: flex;
        justify-content: center;
        padding-left: 25%;
    }
    figcaption{
        padding-left: 5%;
        margin: 20px;
    }
}


@media screen and (max-width: 600px) {
    #navbar {
        display: column;
        justify-content: center;
        width: 100%; 
        height: 200px;
        font-size: 18px;
        background-color: rgb(196, 196, 196);
        }
        
        #navlist {
            width: 100%;
            display: table-column;
        }
        
        #navlist a{
            display: center;
            padding: 1rem;
        }
        
        #navlist a:hover {
         background: rgba(211, 211, 211, 0.925);
        }
        
         /*:active*/
        .active a.current{
            color: black;
            background-color:  rgba(211, 211, 211, 0.925);
         }
         
        nav:active{
          color: rgba(211, 211, 211, 0.925);
        }
        
        .links a:hover{
        background-color:  rgba(211, 211, 211, 0.925);
        }
        
        .links a:active {
            background-color:  rgba(211, 211, 211, 0.925);
          }

        main {
            padding-left: 30px;
            margin: 0px;
        }

        figure {
            width: 100%;
            margin: 10px;
        }
        iframe {
         width: 300px;
         height: 250px;
                }
    button{
        border-radius: 25px;
    }
    #george {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-right: 10px;
    }
    
    .joe {
        margin-right: 10px;
    }

    .home {
        width: 230px;
        height: 130px;
    }

}
